{% extends 'base.html.twig' %}

{% block title %}Hello PromotionController!{% endblock %}

{% block main %}
  <div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
      height: 100%;">
    <div class="" style="margin-bottom: 3%; text-align: center;">
      <h3 class="display-4 cvet">Акции</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/adam.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/frukt.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/inferno.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/skidka.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="row">
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/frukt-c.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/zamena.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/zavtrak.png" class="card-img-top" alt="...">
        </div>
        <div class="card card-offer" style="width: 17rem; border: none;">
          <img src="../img/kamik.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
