{% extends 'base.html.twig' %}

{% block title %}Hello AddressController!{% endblock %}

{% block main %}
<!--Google map-->
<div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.4915553791866!2d30.30689575160327!3d59.95716928179398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963141499f00b9%3A0x630ff799025ac60a!2z0KPQvdC40LLQtdGA0YHQuNGC0LXRgiDQmNCi0JzQng!5e0!3m2!1sru!2sru!4v1614810812075!5m2!1sru!2sru" frameborder="0"
    style="border:0" allowfullscreen></iframe>
</div>

<!--Google Maps-->
{% endblock %}
